# Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
venv/
.venv/
env/

# Variables de entorno y secretos
.env
.env.*
*.key
*.pem

# Django
*.log

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Base de datos local
db.sqlite3